.login-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 99;
}
/**
 *     Modal dialog bootstrap stuff
 */
.login-dialog .modal {
    width: 358px;
    margin: 0px 0 0 -179px;
    top: 80px;
}
.login-dialog .modal label {
    width: 90px;
}
.login-dialog .modal .input {
    margin-left: 108px;
}
.login-dialog .alert-message {
    margin-bottom: 0;
}
.login-dialog .modal-footer .info {
    float: left;
}
