<div class='data-filter'>
    <h4>Date</h4>
    <label>
        <input type="radio" id="dateSelectRadio" data-dojo-attach-point="dateSelectRadio" name="date-radio" checked>
        <span>Default Range:</span>
    </label>
    <select data-dojo-attach-point="dateSelect" name="date-select" class="medium indent form-control">
        <option value="7d">Past 7 Days</option>
        <option value="30d">Past 30 Days</option>
        <option value="6m" selected>Past 6 Months</option>
        <option value="ytd">Year to Date</option>
        <option value="2yr">Past 2 Years</option>
    </select>
    <br>
    <label>
        <input type="radio" id="dateCustomRadio" data-dojo-attach-point="dateCustomRadio" name="date-radio">
        <span>Custom Range:</span>
    </label>
    <br>
    <div style="clear: both;"></div>
    <label class="indent" for="date-start" id="start-lbl">Start Date</label>
    <input class="indent" type="text" name="date-start" id='date-start' data-dojo-attach-point="dateStart"
        data-dojo-type="dijit.form.DateTextBox" disabled placeholder="required">
    <br>
    <label class="indent" for="date-end">End Date</label>
    <input class="indent" type="text" name="date-end" id='date-end' data-dojo-attach-point="dateEnd"
        data-dojo-type="dijit.form.DateTextBox" disabled placeholder="required">
    <div data-dojo-attach-point='speciesFilterDiv'></div>
    <div data-dojo-attach-point='genderFilterDiv'></div>
    <div data-dojo-attach-point='ageClassFilterDiv'></div>
    <div data-dojo-attach-point='udwrRegionsFilterDiv'></div>
    <div data-dojo-attach-point='udotRegionsFilterDiv'></div>
    <!-- <div data-dojo-attach-point='wmuRegionsFilterDiv'></div> -->
    <div data-dojo-attach-point='routeMilepostFilterDiv'></div>
    <div data-dojo-attach-point='userFilterDiv'><div>
</div>
