<div>
    <h4 class='non-first-header'>Route/Milepost Segment</h4>
    <label for='name'>Route</label>
    <input data-dojo-attach-point='route' name='route' type='text' class='form-control'>
    <label for='fromMP'>From Milepost</label>
    <input data-dojo-attach-point='fromMP' name='fromMP' type='text' class='form-control'>
    <label for='toMP'>To Milepost</label>
    <input data-dojo-attach-point='toMP' name='toMP' type='text' class='form-control'>
    <button data-dojo-attach-point='submitBtn' class='btn btn-primary'>Submit</button>
    <button data-dojo-attach-point='clearBtn' class='btn btn-default'>Clear</button>
</div>
