<div class="toc">
    <div class="background-layer">
        <label>
            <input type='checkbox' data-dojo-attach-point='crossingsCheckbox'>
            <span>Wildlife Crossings</span>
        </label>
        <label>
            <input type='checkbox' data-dojo-attach-point='fencingCheckbox'>
            <span>Wildlife Fencing</span>
        </label>
        <label>
            <input type="checkbox" data-dojo-attach-point='milepostsCheckbox'>
            <span>UDOT Mileposts</span>
        </label>
        <label>
            <input type="checkbox" data-dojo-attach-point="backgroundCheckbox">
            <span>Background Layer</span>
        </label>
        <label class="indent">
            <input type="radio" data-dojo-attach-point="udwrRadioBtn" name="background-layers" checked disabled value="1">
            <span>UDWR Regions</span>
        </label>
        <br>
        <label class="indent">
            <input type="radio" data-dojo-attach-point="udotRadioBtn" name="background-layers" disabled value="2">
            <span>UDOT Regions</span>
        </label>
        <br>
        <label class="indent">
            <input type="radio" data-dojo-attach-point="wmuRadioBtn" name="background-layers" disabled value="3">
            <span>WMU Regions</span>
        </label>
    </div>
</div>
