.print-widget .loader {
	background-image: url('../../images/ajax-loader2.gif');
	height: 13px;
	width: 19px;
	background-repeat: no-repeat;
	display: inline-block;
}
.print-widget .alert-info {
	display: none;
	opacity: 0;
}
.print-widget .btn {
	margin-bottom: 5px;
}
