<div>
	<label>
		<input type='radio' dojoattachpoint='shapeRB' name='download-type-${id}' checked='true' value='0'>
		<span>ESRI Shapefile</span>
	</label>
	<br>
	<label>
		<input type='radio' dojoattachpoint='dbfRB' name='download-type-${id}' value='1'>
		<span>DBF File</span>
	</label>
	<br>
	<button dojoattachpoint='downloadBtn' class='btn btn-primary'>Download</button>
	<div dojoattachpoint='msgBox' class='alert alert-info'>
		<span dojoattachpoint='msgLoader' class='loader'></span>
		<span dojoattachpoint='msg'></span>
	</div>
</div>