<div>
	<h4 class="non-first-header">${fieldLabel}</h4>
	
	<input type="radio" id="all${fieldLabel}" dojoAttachPoint="allRB" name="${fieldLabel}-group" checked>
	<label class='filter-label' for='all${fieldLabel}'>All</label>
	<input type="radio" id="only${fieldLabel}" dojoAttachPoint="onlyRB" name="${fieldLabel}-group">
	<label class='filter-label' for='only${fieldLabel}'>Only Those Listed Below</label>
		
	<button dojoAttachPoint="selectBtn" class="btn btn-default btn-xs">Select ${fieldLabel}</button>
	<ul dojoAttachPoint="list">
		<li class="disabled"></li>
	</ul>
</div>