<div class="list-picker modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" dojoAttachPoint="closeBtn">&times;</button>
				<h4 class='modal-title'>${listName} Filter</h4>
			</div>
			<div class="modal-body">
				<table>
			        <tr>
			            <td>
			                <strong>Available Values</strong><br>
			                <select dojoAttachPoint="availableList" 
								dojoType="dijit.form.MultiSelect" 
								class="list-box form-control">
			                </select>
			            </td>
			            <td class='btn-cell'>
			            	<div class="buttons-top">
				                <button dojoAttachPoint="btnSelect" 
									class="buttons btn btn-default btn-xs" 
									title='Move selected ${listName} right' 
									type='button'> > </button>
								<br>
								<button dojoAttachPoint="btnSelectAll" 
									class="btn btn-default btn-xs" 
									title='Move all ${listName} right' 
									type='button'> >> </button>
							</div>
							<div class="button-separator"></div>
							<div class="buttons-bottom">
								<button dojoAttachPoint="btnUnselect" 
									class="buttons btn btn-default btn-xs" 
									title='Move selected ${listName} left' 
									type='button'> < </button>
								<br>
								<button dojoAttachPoint="btnUnselectAll" 
									class="btn btn-default btn-xs" 
									title='Move all ${listName} left'
									type='button'> << </button>
							</div>
			            </td>
			            <td>
			                <strong>Selected Values</strong><br>
			                <select dojoAttachPoint="selectedList" 
								dojoType="dijit.form.MultiSelect" 
								class="list-box form-control">
			                </select>
			            </td>
			        </tr>
			    </table>
			</div>
			<div class="modal-footer">
				<button dojoAttachPoint="btnOK" class="btn btn-primary" disabled>OK</button>
				<button dojoAttachPoint="btnCancel" class="btn btn-default">Cancel</button>
			</div>
		</div>
	</div>
</div>