<div class='hidden'>
	<div class='modal'>
		<div class='modal-header'>
			<h3>Log In</h3>
		</div>
		<div class='modal-body'>
			<form>
				<fieldset>
					<div class="clearfix">
						<label for="uname">Email Address:</label>
						<div class="input">
							<input class="xLarge" dojoattachpoint='uname' name='uname' type='text'
							value="">
						</div>
					</div>
					<div class="clearfix">
						<label for="pass">Password:</label>
						<div class="input">
							<input class="xLarge" dojoattachpoint='pass' name='pass' type='password' value="">
						</div>
					</div>
				</fieldset>
			</form>
			<div class="alert-message error hidden" dojoattachpoint="errorAlert">
				<p><span dojoattachpoint="errorMsg"></span></p>
			</div>
		</div>
		<div class="modal-footer">
			<button dojoattachpoint="submitBtn" class="btn primary">Submit</button>
			<button dojoattachpoint='cancelBtn' class="btn secondary">Cancel</button>
			<a href="request_access.php" class="btn info">Request Access</a>
		</div>
	</div>
	<div class="modal-background"></div>
</div>