<div>
	<h4 class='non-first-header'>Route/Milepost Segment</h4>
	<label for='name'>Route</label>
	<input dojoattachpoint='route' name='route' type='text' class='form-control'>
	<label for='fromMP'>From Milepost</label>
	<input dojoattachpoint='fromMP' name='fromMP' type='text' class='form-control'>
	<label for='toMP'>To Milepost</label>
	<input dojoattachpoint='toMP' name='toMP' type='text' class='form-control'>
	<button dojoattachpoint='submitBtn' class='btn btn-primary'>Submit</button>
	<button dojoattachpoint='clearBtn' class='btn btn-default'>Clear</button>
</div>