<div class="toc">
	<div class="background-layer">
		<label>
			<input type='checkbox' dojoattachpoint='crossingsCheckbox'>
			<span>Wildlife Crossings</span>
		</label>
		<label>
            <input type='checkbox' dojoattachpoint='fencingCheckbox'>
            <span>Wildlife Fencing</span>
        </label>
        <label>
        	<input type="checkbox" dojoattachpoint='milepostsCheckbox'>
        	<span>UDOT Mileposts</span>
        </label>
		<label>
			<input type="checkbox" dojoattachpoint="backgroundCheckbox">
			<span>Background Layer</span>
		</label>
		<label class="indent">
			<input type="radio" dojoattachpoint="udwrRadioBtn" name="background-layers" checked disabled value="1">
			<span>UDWR Regions</span>
		</label>
		<br>
		<label class="indent">
			<input type="radio" dojoattachpoint="udotRadioBtn" name="background-layers" disabled value="2">
			<span>UDOT Regions</span>
		</label>
        <br>
        <label class="indent">
            <input type="radio" dojoattachpoint="wmuRadioBtn" name="background-layers" disabled value="3">
            <span>WMU Regions</span>
        </label>
	</div>
</div>
