<div class="alert-message block-message info user-admin">
    <p>
        <strong>${name}</strong><br>
        <span>${agency}</span><br>
        <span>${username}</span>
    </p>
        Choose role:<br>
        <div class='btn-group'>
            <button dojoattachpoint="viewerBtn" class="btn">Viewer</button>
            <button dojoattachpoint='submitterBtn' class='btn info'>Submitter</button>
            <button dojoattachpoint='adminBtn' class='btn success'>Admin</button>
            <button dojoattachpoint="rejectBtn" class="btn danger">Reject User</button>
        </div>
</div>