@import '../layer-selector/resources/LayerSelector.css';
@import '../agrc-sherlock/resources/Sherlock.css';

#verify-map {
    width: 100%;
    height: 500px;
    border: 1px solid #DDD;
    position: relative;
}
.tab-container {
    padding-left: 0;
    padding-bottom: 0;
}
.status-text {
    display: none;
}
.status-img {
    opacity: 0.3;
    display: none;
}
.status-text.error {
    color: #B94A48;
}
.status-text.success {
    color: #468847;
}
.container form fieldset input[type='text'],
.container form fieldset input[type='number'],
.container form fieldset select,
.container form fieldset textarea {
    width: 250px;
}
#submit {
    width: 48%;
}
#clear {
    width: 48%;
}
.tab-content {
    padding-top: 10px;
}
.sherlock {
    right: 70px;
    top: 15px;
    width: 350px;
}
.sherlock .matches-table {
    width: 340px;
}
.sherlock .input-group input {
    width: 300px;
}
