@import '../app/css/DownloadData.css';
@import '../app/css/DataFilter.css';
.data-filter label {
    text-align: left !important;
}
.indent {
    margin-left: 18px !important;
}
.modal-background {
    margin-top: -30px;
}
